.workSection {
  background-color: #eee;
  padding: 30px 100px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutHeading {
  color: #202020;
  font-size: 40px;
  font-family: "Alegreya-Bold";
  text-transform: uppercase;
  border-bottom: 3px solid #202020;
  padding: 0 7px 3px 7px;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabHeader {
  margin-bottom: 20px;
}
.tab {
  font-size: 18px !important;
  font-family: "Alegreya-Bold" !important;
  text-transform: none !important;
}
