body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"),
    url("./assets/FontFamilies/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Light";
  src: local("Ubuntu-Light"),
    url("./assets/FontFamilies/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: local("Ubuntu-Medium"),
    url("./assets/FontFamilies/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: local("Ubuntu-Regular"),
    url("./assets/FontFamilies/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: local("Yellowtail-Regular"),
    url("./assets/FontFamilies/Yellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya-Regular";
  src: local("Alegreya-Regular"),
    url("./assets/FontFamilies/Alegreya-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya-Medium";
  src: local("Alegreya-Medium"),
    url("./assets/FontFamilies/Alegreya-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya-MediumItalic";
  src: local("Alegreya-MediumItalic"),
    url("./assets/FontFamilies/Alegreya-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya-Bold";
  src: local("Alegreya-Bold"),
    url("./assets/FontFamilies/Alegreya-Bold.ttf") format("truetype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
